dist: trusty
sudo: false  # Use the new travis docker based infrastructure

git:
  # We need a deeper depth for 'git descibe' to ensure
  # we can reach the last tagged version.
  depth: 99999

language: python
matrix:
  include:
    - python: "3.5"
#      env: CONDA_ENV_FILE=.travis/environment_py35.yaml
#    - python: "2.7"
#      env: CONDA_ENV_FILE=.travis/environment_py27.yaml

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/miniconda

# Install required packages
addons:
  postgresql: "9.5"
  services:
    - postgresql

before_install:
  # Create a database for the integration tests.
  - createdb agdcintegration
  - ./.travis/before_install.sh
  - export PATH=/home/travis/miniconda/bin:$PATH

install:
  - ./.travis/install.sh
  - source activate pyenv
  - pip install .[analytics,test,interactive] --no-deps --upgrade
  - pip freeze

script:
  - ./check-code.sh integration_tests

after_success:
  - test $TRAVIS_PYTHON_VERSION = "3.5" && coveralls

notifications:
  slack:
    on_success: change
    on_failure: always
    on_pull_requests: false
    rooms:
      secure: kUlIXKlqxpnfNwJxgZdLy5XtfeYnc5Iq+OdvtyMFBJ94Iw3gP64KH8C/pUPqJblwiINj/vi5AF1TSaVG5VgSVF5zwEhAa4Ad0V9OZvsfJuLoE5/nFvkCdXeOU70/aMitF5SG7x6Q9LYhDqUDtS/XyGy48f2eiXN0Sa6/3KGQbyFXRvMDQercNR8LXXXjJZ0VjMsUD2Zl5FVy3FMHItVUTVlyMiBc/1fPJiSxOPz8ySSjeANnKuFIQN7/h+IbIrEVIJh8/T8SkOpuYceXBosr4HDfcTt3mFp0gT4Gc4TvYIjN/ykzomSY2+fkr0txSb7ao7+ZZvZ6XWfB6A/MnGNbmwSFmYX5fbBs493ErsIrCealsqvtyE2lvAj58vOv/5sFtBcD9d2hPUCCm345D7TGh6KMrSELfg4fhTiGfg181I6ZdQUR6veb9H1aPmE2Kh+XnZOaGP/uI7GkUeCRH92pPPjWf6/7YdxwFTsgggKxdE3FZVwYjO6DJBJ12iuXcOVz6MFXCpeiYNZPzXBtCF+tngGS9NEG6/CM1wP5CfbJEEbYXB0eL+qRQRkCgzYKQgvtreOfsfbMP1Oi2vBTq/JfdY888B3HVXJxUm1RPAAw4DsynbKzyCqoRECz6+X2zCR7i5DlcoEKuKURRA9DA0WPnMqUHAJsUS2n7jj58ANHo0o=
